
// theme colors

$primary: green;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;

// spacinf
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;
